/**
 * Copied from the `eslint.org` repo.
 * @see https://github.com/eslint/eslint.org/blob/e6f10f42b5aa203096412686076e91190b93cf9f/src/playground/scss/editor.scss
 */
.cm-theme-light {
    min-width: 100%;
}

.cm-focused .cm-selectionBackground,
.cm-selectionBackground,
.cm-content ::selection {
    background-color: var(--color-primary-800) !important;
}

.cm-completionMatchedText {
    text-decoration: none !important;
    font-weight: bold;
}

.cm-tooltip.cm-tooltip-autocomplete,
.cm-tooltip.cm-tooltip-autocomplete > ul {
    border-radius: .125rem;
}
