.site-header {
    padding: .75rem 0;
    border-top: 4px solid var(--link-color);
    border-bottom: 1px solid var(--divider-color);
    border-block-start: 4px solid var(--link-color);
    border-block-end: 1px solid var(--divider-color);

    .content-container {
        display: grid;
        align-items: start;
        padding-top: 0;
        padding-bottom: 0;
        padding-block-start: 0;
        padding-block-end: 0;

        @media all and (min-width: 681px) {
            justify-content: space-between;
        }
    }
}

.logo-link {
    display: inline-flex;
    justify-self: start;
    flex: none;
    place-content: center;
    grid-row: 1;
    padding: .5rem 0;
    z-index: 2;
    text-decoration: none;
    gap: 8px;
}

.logo svg {
    display: inline-block;
    margin-bottom: -4px;
    margin-block-end: -4px;
    width: 100%;
    height: auto;
}

.logo svg.brand-logo {
    max-width: 100px;
}

.code-explorer-logo {
    font-family: var(--display-font);
    color: var(--color-neutral-400);
    font-size: 1.25rem;
}

.site-nav {
    display: flex;
    flex: 1;
    grid-row: 1;
    gap: 8px;

    .flexer {
        display: flex;
        justify-self: flex-end;
        align-self: flex-end;
    }
}
