/**
 * Styles for the TabButtons component.
 */
.tab-buttons {
    position: relative;
    white-space: nowrap;
}

.tab-buttons--with-outline::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}
